.SigninContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(73, 73, 73);
    width: 30%;
    height: 42vmax;
    margin: auto;
}
.SigninContainer h1{
    color: white;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
form input{
    margin: 1vmax;
    width: 70%;
    padding: 10px;
    border-radius: 9px;
    border: none;
}
form button{
    margin: 1vmax;
    width: 10vmax;
    height: 2.3vmax;
    background-color: rgb(48, 114, 255);
    color: white;
    border: none;
    font-size: 14px;
    border-radius: 9px;
    cursor: pointer;
}