table{
    margin: auto;
    width: 80%;
    border: 1px solid black;
}
table td{
    text-align: justify;
    margin: auto;
    border: 1px solid black;
}
.search div button{
    width: 10vmax;
    height: 2.3vmax;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    font-size: 14px;
    border-radius: 9px;
    cursor: pointer;
}
.add-update-delete{
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-update-delete button{
    margin: 1vmax;
    width: 10vmax;
    height: 2.3vmax;
    background-color: rgb(48, 114, 255);
    color: white;
    border: none;
    font-size: 14px;
    border-radius: 9px;
    cursor: pointer;
}
.add-update-delete input{
    margin: 1vmax;
    width: 25vmax;
    padding: 0.5vmax;

    
}
.search div {
    display: flex;
    justify-content: center;
    align-items: center;
 

}
.searchfield{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.searchfield input{
    margin: 1vmax;
    width: 78.5%;
    padding: 0.5vmax;
}